<div class="container">
    <div class="row">
        <div class="col-3">
            <h4>Almacenamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + G</font> Grabar
                    <fa-icon class="float-right" [icon]="['fas', 'save']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + N</font> Nuevo Registro
                    <fa-icon class="float-right" [icon]="['fas', 'file']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + E</font> Editar Registro
                    <fa-icon class="float-right" [icon]="['fas', 'edit']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + B</font> Buscar
                    <fa-icon class="float-right" [icon]="['fas', 'search']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + A</font> Anular Registro
                    <fa-icon class="float-right" [icon]="['fas', 'trash']"></fa-icon>
                </a>
                <a class="nav-link" href="#">Salir <fa-icon class="float-right" [icon]="['fas', 'sign-out-alt']">
                        </fa-icon></a>
            </nav>
            <hr>
            <h4>Procesamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">Importar <fa-icon class="float-right" [icon]="['fas', 'file-import']">
                        </fa-icon></a>
                <a class="nav-link" href="#">Exportar <fa-icon class="float-right" [icon]="['fas', 'file-download']">
                        </fa-icon></a>
            </nav>
        </div>
        <div class="col-9">
            <h2>Crear Genero</h2>
            <hr>
            <div id="formulario">
                <div class="form-group form-row">
                    <label for="codigo" class="col-4 col-form-label">Codigo</label>
                    <div class="col-8">
                        <input type="text" [(ngModel)]="genero.codigo" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label for="plazo" class="col-4 col-form-label">Sexo</label>
                    <div class="col-8">
                        <input type="text" [(ngModel)]="genero.sexo" class="form-control">
                    </div>
                </div>
                <div class="form-group form-row">
                    <label for="plazo" class="col-4 col-form-label">Abreviatura</label>
                    <div class="col-8">
                        <input type="text" [(ngModel)]="genero.abreviatura" class="form-control">
                    </div>
                </div>
            </div>
            <h2>Generos</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>CODIGO</th>
                        <th>SEXO</th>
                        <th>ABREVIATURA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let genero of generos">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(genero)">
                        </td>
                        <td>
                            {{genero.codigo}}
                        </td>
                        <td>
                            {{genero.sexo}}
                        </td>
                        <td>
                            {{genero.abreviatura}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #actualizar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Empresa</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <div class="col-2"></div>
        <div class="col-8">
            <h3>Actualizar Genero</h3>
            <hr>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Codigo</label>
                <div class="col-10">
                    <input type="text" class="form-control" disabled [(ngModel)]="p_genero.codigo">
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Sexo</label>
                <div class="col-10">
                    <input type="number" class="form-control" [(ngModel)]="p_genero.sexo">
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Abreviatura</label>
                <div class="col-10">
                    <input type="number" class="form-control" [(ngModel)]="p_genero.abreviatura">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('actualizar')">Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        ¿Esta seguro de eliminar el genero?
        <br>
        <div class="form-group form-row">
            <label class="col-2 col-form-label">Codigo</label>
            <div class="col-10">
                <input type="text" class="form-control" disabled [(ngModel)]="p_genero.codigo" disabled>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-2 col-form-label">Sexo</label>
            <div class="col-10">
                <input type="text" class="form-control" [(ngModel)]="p_genero.sexo" disabled>
            </div>
        </div>
        <div class="form-group form-row">
            <label class="col-2 col-form-label">Abreviatura</label>
            <div class="col-10">
                <input type="text" class="form-control" [(ngModel)]="p_genero.abreviatura" disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('eliminar')">Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Cerrar</button>
    </div>
</ng-template>