<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12 text-center mb-2">
            <small> © 2020 derechos reservados <i class="fa fa-heart text-danger" aria-hidden="true"></i> para <span
            class="text-secondary font-weight-bold">SIICE Technology</span></small>
        </div>
        <div class="col-md-12 text-center mb-3">
            <a href="https://www.siice.com.ec" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/siice" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/siice/" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
            class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/siice/" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
            class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col-md-12 text-center">
            <iframe src="https://www.siice.com.ec" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

            <iframe src="https://www.siice.com.ec" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        </div>


    </div>

</div>