<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                <mat-icon>file</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <ng-container *ngIf="tabla_equivalencia_medida.id==0">
                <a class="nav-link" href="#" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
            <ng-container *ngIf="tabla_equivalencia_medida.id!=0">
                <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i><u>CREAR TABLA EQUIVALENCIA MEDIDA</u></i>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Codigo</mat-label>
                                        <input matInput type="text" [(ngModel)]="tabla_equivalencia_medida.codigo" class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Medida 1</mat-label>
                                        <mat-select [(ngModel)]="tabla_equivalencia_medida.medida1.id" class="form-control-sm">
                                            <mat-option *ngFor="let medida1 of medidas1" [value]="medida1.id">
                                                {{medida1.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Medida 2</mat-label>
                                        <mat-select [(ngModel)]="tabla_equivalencia_medida.medida2.id" class="form-control-sm">
                                            <mat-option *ngFor="let medida2 of medidas2" [value]="medida2.id">
                                                {{medida2.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Equivalencia</mat-label>
                                        <input matInput type="text" [(ngModel)]="tabla_equivalencia_medida.equivalencia" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>