<div class="container">
    <div class="row">
        <div class="col-3">
            <h4>Almacenamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + G</font> Grabar
                    <fa-icon class="float-right" [icon]="['fas', 'save']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + N</font> Nuevo Registro
                    <fa-icon class="float-right" [icon]="['fas', 'file']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + E</font> Editar Registro
                    <fa-icon class="float-right" [icon]="['fas', 'edit']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + B</font> Buscar
                    <fa-icon class="float-right" [icon]="['fas', 'search']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + A</font> Anular Registro
                    <fa-icon class="float-right" [icon]="['fas', 'trash']"></fa-icon>
                </a>
                <a class="nav-link" href="#">Salir <fa-icon class="float-right" [icon]="['fas', 'sign-out-alt']">
                    </fa-icon></a>
            </nav>
            <hr>
            <h4>Procesamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">Importar <fa-icon class="float-right" [icon]="['fas', 'file-import']">
                    </fa-icon></a>
                <a class="nav-link" href="#">Exportar <fa-icon class="float-right" [icon]="['fas', 'file-download']">
                    </fa-icon></a>
            </nav>
        </div>
        <div class="col-9">
            <h2>CREAR RETENCION DE CLIENTE</h2>
            <hr>
            <div id="formulario">
                <div class="form-group form-row">
                    <label for="codigo" class="col-4 col-form-label">Codigo</label>
                    <div class="col-8">
                        <input type="text" [(ngModel)]="retencion_cliente.codigo" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label for="plazo" class="col-4 col-form-label">Codigo Norma</label>
                    <div class="col-8">
                        <input type="number" [(ngModel)]="retencion_cliente.tipo_retencion.codigo_norma" class="form-control>
                    </div>
                </div>
                <div class=" form-group form-row ">
                    <label for="plazo " class="col-4 col-form-label ">Codigo Homologacion</label>
                    <div class="col-8 ">
                        <input type="text " [(ngModel)]="retencion_cliente.tipo_retencion.homologacion_f_e " class="form-control ">
                    </div>
                </div>
                <div class="form-group form-row ">
                    <label class="col-4 col-form-label ">Descripcion</label>
                    <div class="col-8 ">
                        <input type="text " [(ngModel)]="retencion_cliente.tipo_retencion.descripcion " class="form-control ">
                    </div>
                </div>
                <div class="form-group form-row ">
                    <label class="col-4 col-form-label ">Porcentaje</label>
                    <div class="col-8 ">
                        <input type="text " [(ngModel)]="retencion_cliente.tipo_retencion.porcentaje " class="form-control ">
                    </div>
                </div>
            </div>
            <h2>PLAZOS DE CREDITOS</h2>
            <hr>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th>CODIGO</th>
                        <th>CODIGO NORMA</th>
                        <th>CODIGO HOM</th>
                        <th>DESCRIPCION</th>
                        <th>PORCENTAJE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let retencion_cliente of retenciones_clientes ">
                        <td>
                            <input type="radio " name="seleccion " (click)="seleccion(retencion_cliente) ">
                        </td>
                        <td>
                            {{retencion_cliente.codigo}}
                        </td>
                        <td>
                            {{retencion_cliente.codigo_norma}}
                        </td>
                        <td>
                            {{retencion_cliente.homologacion_f_e}}
                        </td>
                        <td>
                            {{retencion_cliente.descripion}}
                        </td>
                        <td>
                            {{retencion_cliente.porcentaje}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #actualizar let-modal>
    <div class="modal-header ">
        <h5 class="modal-title ">Actualizar</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="col-2 "></div>
        <div class="col-8 ">
            <h3>Actualizar Retencion de Cliente</h3>
            <hr>
            <div class="form-group form-row ">
                <label class="col-2 col-form-label ">Codigo</label>
                <div class="col-10 ">
                    <input type="text " class="form-control " disabled [(ngModel)]="p_retencion_cliente.codigo ">
                </div>
            </div>
            <div class="form-group form-row ">
                <label class="col-2 col-form-label ">Codigo Norma</label>
                <div class="col-10 ">
                    <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.codigo_norma ">
                </div>
            </div>
            <div class="form-group form-row ">
                <label  class="col-2 col-form-label ">Homologacion</label>
                <div class="col-10 ">
                    <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.homologacion_f_e ">
                </div>
            </div>
            <div class="form-group form-row ">
                <label class="col-2 col-form-label ">Descripcion</label>
                <div class="col-10 ">
                    <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.descripcion ">
                </div>
            </div>
            <div class="form-group form-row ">
                <label class="col-2 col-form-label ">Porcentaje</label>
                <div class="col-10 ">
                    <input type="number " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.porcentaje ">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-success " (click)="modal.close( 'actualizar') ">Aceptar</button>
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'close') ">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminar let-modal>
    <div class="modal-header ">
        <h5 class="modal-title ">Eliminar</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        ¿Esta seguro de eliminar la retencion de cliente?
        <br>
        <div class="form-group form-row ">
            <label class="col-2 col-form-label ">Codigo</label>
            <div class="col-10 ">
                <input type="text " class="form-control " disabled [(ngModel)]="p_retencion_cliente.codigo " disabled>
            </div>
        </div>
        <div class="form-group form-row ">
            <label class="col-2 col-form-label ">Codigo Norma</label>
            <div class="col-10 ">
                <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.codigo_norma " disabled>
            </div>
        </div>
        <div class="form-group form-row ">
            <label class="col-2 col-form-label ">Homologacion</label>
            <div class="col-10 ">
                <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.homologacion_f_e " disabled>
            </div>
        </div>
        <div class="form-group form-row ">
            <label class="col-2 col-form-label ">Descripcion</label>
            <div class="col-10 ">
                <input type="text " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.descripcion " disabled>
            </div>
        </div>
        <div class="form-group form-row ">
            <label class="col-2 col-form-label ">Porcentaje</label>
            <div class="col-10 ">
                <input type="number " class="form-control " [(ngModel)]="p_retencion_cliente.tipo_retencion.porcentaje " disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-success " (click)="modal.close( 'eliminar') ">Aceptar</button>
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'close') ">Cerrar</button>
    </div>
</ng-template>