<div class="container">
    <div class="row">
        <div class="col-3">
            <h4>Almacenamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + G</font> Grabar <fa-icon class="float-right" [icon]="['fas', 'save']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + N</font> Nuevo Registro <fa-icon class="float-right"
                        [icon]="['fas', 'file']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + E</font> Editar Registro <fa-icon class="float-right"
                        [icon]="['fas', 'edit']"></fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + B</font> Buscar <fa-icon class="float-right" [icon]="['fas', 'search']">
                    </fa-icon>
                </a>
                <a class="nav-link" href="#">
                    <font color="black">SHIFT + A</font> Anular Registro <fa-icon class="float-right"
                        [icon]="['fas', 'trash']"></fa-icon>
                </a>
                <a class="nav-link" href="#">Salir <fa-icon class="float-right" [icon]="['fas', 'sign-out-alt']">
                    </fa-icon></a>
            </nav>
            <hr>
            <h4>Procesamiento</h4>
            <nav class="nav flex-column">
                <a class="nav-link" href="#">Importar <fa-icon class="float-right" [icon]="['fas', 'file-import']">
                    </fa-icon></a>
                <a class="nav-link" href="#">Exportar <fa-icon class="float-right" [icon]="['fas', 'file-download']">
                    </fa-icon></a>
            </nav>
        </div>
        <div class="col-9">
            <h2>PLAZO DE CREDITO</h2>
            <hr>
            <h3>Añadir Plazo de Credito</h3>
            <hr>
            <div id="formulario">
                <div class="form-group form-row">
                    <label for="codigo" class="col-4 col-form-label">Codigo</label>
                    <div class="col-8">
                        <input type="text" [(ngModel)]="plazo_credito.codigo" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label for="plazo" class="col-4 col-form-label">Plazo</label>
                    <div class="col-8">
                        <input type="number" [(ngModel)]="plazo_credito.plazo" class="form-control"
                            placeholder="Numero de Plazo">
                    </div>
                </div>
            </div>
            <h2>PLAZOS DE CREDITOS</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>CODIGO</th>
                        <th>PLAZO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plazo_credito of plazos_creditos">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(plazo_credito)">
                        </td>
                        <td>
                            {{plazo_credito.codigo}}
                        </td>
                        <td>
                            {{plazo_credito.plazo}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #actualizar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Actualizar Plazo de Credito</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-2"></div>
        <div class="col-8">
            <h3>Modificar Plazo de Credito</h3>
            <hr>
            <div class="form-group form-row">
                <label for="codigoM" class="col-2 col-form-label">Codigo</label>
                <div class="col-10">
                    <input type="text" class="form-control" disabled [(ngModel)]="p_plazo_credito.codigo">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="plazoM" class="col-2 col-form-label">Plazo</label>
                <div class="col-10">
                    <input type="number" class="form-control" [(ngModel)]="p_plazo_credito.plazo">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('actualizar')">Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar Plazo de Credito</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Esta seguro de eliminar el plazo de credito?
        <br>
        <div>
            <div class="form-group form-row">
                <label for="codigoE" class="col-2 col-form-label">Codigo</label>
                <div class="col-10">
                    <input type="text" class="form-control" disabled [(ngModel)]="p_plazo_credito.codigo">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="plazoE" class="col-2 col-form-label">Plazo</label>
                <div class="col-10">
                    <input type="number" class="form-control" disabled [(ngModel)]="p_plazo_credito.plazo">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('eliminar')">Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Cerrar</button>
    </div>
</ng-template>