<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <ng-container *ngIf="abrirPanelNuevoPlazoCredito">
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>note_add</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Borrar" role="button" (click)="borrar($event)">
                    <mat-icon>backspace</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="plazo_credito.id==0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="plazo_credito.id!=0">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminar($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="abrirPanelAdminPlazoCredito">
            <li class="nav-item">
                <a class="nav-link" title="Buscar" role="button" (click)="buscar($event)">
                    <mat-icon>search</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Editar" role="button" (click)="actualizarLeer($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminarLeer($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoPlazoCredito = true"
            (closed)="abrirPanelNuevoPlazoCredito = false" [expanded]="abrirPanelNuevoPlazoCredito">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>NUEVO PLAZO DE CRÉDITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoPlazoCredito ? 'Ocultar crear plazo de crédito' : 'Crear nuevo plazo de crédito'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Código</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito.codigo" class="form-control-sm"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripción</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito.descripcion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Plazo</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito.plazo" class="form-control-sm">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="abrirPanelAdminPlazoCredito = true"
            (closed)="abrirPanelAdminPlazoCredito = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>ADMINISTRAR PLAZOS DE CRÉDITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminPlazoCredito ? 'Ocultar administrador de plazo de crédito' : 'Gestionar
                    plazos de crédito existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Código</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito_buscar.codigo"
                            (change)="cambiar_buscar_codigo()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripción</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito_buscar.descripcion"
                            (change)="cambiar_buscar_descripcion()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Plazo</mat-label>
                        <input matInput type="text" [(ngModel)]="plazo_credito_buscar.plazo"
                            (change)="cambiar_buscar_plazo()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
            </div>
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead class="table-active text-center">
                    <tr>
                        <th>OPCION</th>
                        <th>CODIGO</th>
                        <th>DESCRIPCION</th>
                        <th>ABREVIATURA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plazo_credito of plazos_creditos">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(plazo_credito)">
                        </td>
                        <td>{{plazo_credito.codigo}}</td>
                        <td>{{plazo_credito.descripcion}}</td>
                        <td>{{plazo_credito.plazo}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>