.logo{
    width: 45px;
    height: 45px;
}

.letras{
    width: 170px;
    height: 35px;
}

.color{
    background-color: whitesmoke;
}

mat-toolbar{
    background: #3d4465!important;
}

.row .product-thumbnail{
    margin-bottom: 1rem;
  }

.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}
