*{
	margin: 0px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contenedor{
    max-width: 80%;
    margin: auto auto;
    background-color: white;
    margin-top:45px!important;
}

.card-principal {
    position: relative; 
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;    
 
}

.card-contenido {
    position: relative; 
    padding: 0px;
    margin-top:10px;
    margin-left: 10px;
    margin-right: auto;   
}

.imagen{
    margin: 10px;    
    height: 100px; 
    width: 100px; 
}

.tarjeta {
    width: 10rem; 
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px; 
    overflow:hidden;
}

.tarjeta:hover .efecto {-webkit-transform:scale(1.3);transform:scale(1.3);}



.imagen1:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

.imagen2:hover {filter: blur(5px);}

.imagen3:hover {filter: grayscale(80%);}

.imagen4:hover {filter: sepia(60%);}

.imagen5:hover {filter: opacity(.5);}

.imagen6:hover {-webkit-transform: rotate(360deg); transform: rotate(360deg);}

.imagen7:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}