<app-navbar></app-navbar>
<main>
  <div class="container-fluid">
    <mat-tab-group class="tab-group1 mt-1" [selectedIndex]="selectedTab1" 
      (selectedTabChange)="tabChanged1($event)">
      <mat-tab *ngFor="let tab1 of tabs1; let tabIndex1 = index">
        <ng-template mat-tab-label>
          {{ tab1.title }}&nbsp;&nbsp;&nbsp;&nbsp;
          <i *ngIf="tabIndex1 != 0" class="material-icons" (click)="removeTab1(tabIndex1)">close</i>
        </ng-template>
        <div *ngIf="tabIndex1 != 0" >
          <main>
            <div>
            <app-sidebar></app-sidebar>
            </div>
            <mat-tab-group class="tab-group2 mt-2" [selectedIndex]="selectedTabGroup[tabIndex1-1]"
              (selectedTabChange)="tabChanged($event)">
              <mat-tab *ngFor="let tab of tabsGroup[tabIndex1-1]; let tabIndex = index">
                <ng-template mat-tab-label>
                  {{ tab.title }}&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="material-icons" (click)="removeTab(tabIndex)">close</i>
                </ng-template>
                <div class="separacion">
                  <app-tab-content [tab]="tab"></app-tab-content>
                </div>
              </mat-tab>
            </mat-tab-group>
          </main>
        </div>
        <div *ngIf="tabIndex1 == 0" >
          <app-tab-content [tab]="tab1"></app-tab-content>
        </div>
      </mat-tab>
    </mat-tab-group>
    <hr>
    <app-footer></app-footer>
  </div>
</main>