<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="buscar($event)">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="eliminar($event)">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
                <mat-label>Razon Social</mat-label>
                <input matInput type="text" [(ngModel)]="cliente_buscar.razon_social" (change)="cambiar_buscar_razon_social()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
            <mat-label>Identificacion</mat-label>
                <input matInput type="text" [(ngModel)]="cliente_buscar.identificacion" (change)="cambiar_buscar_identificacion()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <h2>CLIENTES</h2>
            <hr>
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead class="table-active">
                    <tr>
                        <th>OPCIONES</th>
                        <th>RAZON SOCIAL</th>
                        <th>IDENTIFICACION</th>
                        <th>CONTRIBUYENTE</th>
                        <th>DIRECCION</th>
                        <th>GRUPO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(cliente)">
                        </td>
                        <td>{{cliente.razon_social}}</td>
                        <td>{{cliente.identificacion}}</td>
                        <td>{{cliente.tipo_contribuyente.tipo}} {{cliente.tipo_contribuyente.subtipo}}</td>
                        <td>{{cliente.direccion.direccion}}</td>
                        <td>{{cliente.grupo_cliente.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>