*{
	margin: 0;
	padding: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.contenedor{
	width: 98%;
	max-width: 100%;
	margin: 40px auto;
}

.nav-fijo {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 900;
    height: 120px!important;
    margin: 3px!important;
	padding: 2px!important;
    background-color: transparent;
}

.resaltar{
    font-weight: bold;
    color: red;
}
.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 1px 0;
    font-size: 10px;
    line-height: 1.0;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

html {
    font-size: 12px;
}

.derecha{
    position: sticky;
    text-align: right;
}

.izquierda{
    position: sticky;
    text-align: left;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 0px;
  padding: 0px;
}

.mat-form-field {
    text-align: center;
    width: 90%;
}

.mat-select{
    padding: 7px 0px !important;
    width: 95%;
}

/*oculta el ancho del autocomplete*/
.mat-autocomplete{
    position: fixed;
    width: 10%;
}

mat-datepicker{
    position: sticky !important;
    width: 10%;
    padding: 0px !important;;
}

.mat-datepicker-toggle{
    position: sticky !important;
    padding: 0px !important;;
}

.grande.mat-form-field{
    width: 100% !important;
}

.mat-checkbox{
    padding-top: 10px;
}

.mat-card{
    text-align: center !important;
    padding: 0px;
    margin: 0px;
}

textarea.mat-input-element{
    font-size: 18px !important;
    text-align: justify;
    white-space: normal;
}

.mat-stepper-horizontal {
    margin-top: 0px;
  }

::ng-deep .mat-horizontal-stepper-header{
    height: 40px !important;
} 

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
   color: black;
}

tr.mat-footer-row {
    font-weight: bold;
  }

/*para el acodion*/
.mat-accordion{padding: 0px!important;}
.mat-expansion-panel-spacing{ margin: 5px 0;}
::ng-deep .mat-expansion-panel-body{padding: 5px!important;}
::ng-deep .mat-expansion-panel-header{ padding: 0px 15px!important; height: 35px!important;}

/*Separación entre el cuadro de texto y el titulo*/
::ng-deep .mat-form-field-label-wrapper { top: -0.8em !important;  } 

/*para los elementos standar*/
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px !important; }
::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex { padding-top:1px !important; align-items: center !important;}

/*para los elementos outline*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper { margin: 3px 0px 0px 0px !important; padding-bottom: 15px;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix { border-top:0px !important; padding-top: 10px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label{ margin-top: 3px !important; }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex { padding:0px !important; }