<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/cliente">Cliente <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/factura">Factura</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cliente-mostrar">Ver</a>
                <a class="dropdown-item" href="#"></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Almacenamiento
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" role="button">Grabar SHIFT + G</a>
                <a class="dropdown-item" href="#">Nuevo SHIFT + N</a>
                <a class="dropdown-item" href="#">Editar SHIFT + E</a>
                <a class="dropdown-item" href="#">Buscar SHIFT + B</a>
                <a class="dropdown-item" href="#">Buscar SHIFT + A</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Procesamiento
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Importar</a>
                <a class="dropdown-item" href="#">Exportar</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/salir">Salir</a>
        </li>
    </ul>
</nav>