*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contenedor{
    max-width: 100%;
    margin: 0px auto;
	background-color: white;
    font-family: 'Open sans';
    color: #004684;
    font-weight: bold; 
    margin-top:10px!important;
}

.boton{
    width: 100px;
    height: 40px;
}
.iconos{
    width: 50px;
    height: 40px;
}

h3{
    font-family: 'Arial';
    font-weight: bold; 
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
 }

  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
 }