<div class="container">
    <div class="form-row col-12">
        <div class="form-row col-7">
            <div class="form-group col-4">
                <mat-form-field appearance="standard">
                    <mat-label>Fecha COmpra</mat-label>
                    <input matInput type="date" value="{{factura.fecha | date:'yyyy-MM-dd'}}" class="form-control-sm"
                        disabled>
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="standard">
                    <mat-label>Comprobante</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="factura.numero"
                        [ngModelOptions]="{standalone: true}" disabled>
                </mat-form-field>
            </div>
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>Estado</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="factura.estado"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option value="true">ENTREGADO</mat-option>
                        <mat-option value="false">PENDIENTE</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-4">
                <mat-form-field appearance="standard" class="grande">
                    <mat-label>Identificación</mat-label>
                    <mat-autocomplete #identificacion_cliente="matAutocomplete"
                        [displayWith]="ver_identificacion_cliente" (optionSelected)="seleccionar_cliente()">
                        <mat-option *ngFor="let cliente of filtro_identificacion_clientes | async" [value]="cliente">
                            {{cliente.identificacion}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" placeholder="Cédula/RUC"
                        [formControl]="seleccion_identificacion_cliente" [matAutocomplete]="identificacion_cliente">
                </mat-form-field>
            </div>
            <div class="form-group col-8">
                <mat-form-field appearance="standard" class="grande">
                    <mat-label>Cliente</mat-label>
                    <mat-autocomplete #razon_social_cliente="matAutocomplete" [displayWith]="ver_razon_social_cliente"
                        (optionSelected)="seleccionar_cliente()">
                        <mat-option *ngFor="let cliente of filtro_razon_social_clientes | async" [value]="cliente">
                            {{cliente.razon_social}}
                        </mat-option>
                    </mat-autocomplete>
                    <input type="text" class="form-control-sm" placeholder="Clientes" matInput
                        [formControl]="seleccion_razon_social_cliente" [matAutocomplete]="razon_social_cliente">
                </mat-form-field>
            </div>
        </div>
        <div class="form-row col-5">
            <mat-card>
                <div class="form-row">
                    <div class="form-group col-7">
                        <mat-form-field appearance="standard">
                            <mat-label>Transportista</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="factura.estado"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="true">JUAN PEREZ</mat-option>
                                <mat-option value="false">PEPITO PIGUAVE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-1">
                        <br>
                        <button class="btn btn-primary btn-circle " (click)="agregarCheque()">
                            <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                        </button>
                    </div>
                    <div class="form-group col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>No.</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="factura.estado"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="true">12</mat-option>
                                <mat-option value="false">8</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-7">
                        <mat-form-field appearance="standard">
                            <mat-label>Placa</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="factura.estado"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="true">HEI-0123</mat-option>
                                <mat-option value="false">PBJ-0123</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-1">
                        <br>
                        <button class="btn btn-primary btn-circle " (click)="agregarCheque()">
                            <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                        </button>
                    </div>
                    <div class="form-group col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Propio</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="factura.estado"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option value="true">SI</mat-option>
                                <mat-option value="false">NO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="card">
        <div class="card-header">
            <div class="form-row col-12">
                <div class="form-group col-8 izquierda">
                    GUIA DE REMISION
                </div>
            </div>
        </div>
        <div class="card-body form-row col-12">
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>No. Guia</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="numeroCheque">
                </mat-form-field>
            </div>
            <div class="form-group col-7">
                <mat-form-field appearance="standard">
                    <mat-label>Direccion</mat-label>
                    <input matInput type="text" [(ngModel)]="cliente.direccion.direccion"
                        oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    <button mat-button matSuffix mat-icon-button (click)="cliente.direccion.direccion=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <br>
                <mat-checkbox [disabled]="habilitar_seleccion_auxiliar" [(ngModel)]="seleccion_auxiliar" class="form-control-sm" color="primary">Otra Dirección
                </mat-checkbox>
            </div>
            <div class="form-row col-12">
                <div class="col-8">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Provincia</mat-label>
                                <mat-select type="text" [(ngModel)]="cliente.direccion.ubicacion.provincia"
                                    (selectionChange)="provincia($event.value)" class="form-control-sm">
                                    <mat-option *ngFor="let provincia of provincias" [value]="provincia.provincia">
                                        {{provincia.provincia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Canton</mat-label>
                                <mat-select type="text" [(ngModel)]="cliente.direccion.ubicacion.canton"
                                    (selectionChange)="canton($event.value)" class="form-control-sm">
                                    <mat-option *ngFor="let canton of cantones" [value]="canton.canton">
                                        {{canton.canton}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Parroquia</mat-label>
                                <mat-select type="text" [(ngModel)]="cliente.direccion.ubicacion.parroquia"
                                    class="form-control-sm">
                                    <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia.parroquia">
                                        {{parroquia.parroquia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-12">
                            <mat-form-field appearance="standard" class="grande">
                                <mat-label>Referencia</mat-label>
                                <input matInput type="text" class="form-control-sm" [(ngModel)]="numeroCheque">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="form-row ">
                        <div class="form-group col-9">
                            <label>Georeferencia</label>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26828.783791134218!2d-78.64974203645144!3d-1.6705413480437092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1582431206351!5m2!1ses-419!2sec"
                                width="220" height="90" frameborder="0" style="border:0;" allowfullscreen="">
                            </iframe>
                        </div>
                        <div class="form-group col-3">
                            <mat-form-field appearance="standard" class="grande">
                                <mat-label>Long:</mat-label>
                                <input matInput type="text" class="form-control-sm" disabled>
                            </mat-form-field>
                            <mat-form-field appearance="standard" class="grande">
                                <mat-label>Lati:</mat-label>
                                <input matInput type="text" class="form-control-sm" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Teléfono</mat-label>
                                <b matPrefix>+593 &nbsp;</b>
                                <input matInput type="tel" [(ngModel)]="telefono.numero" class="form-control-sm"
                                    (change)="validar_telefono()" placeholder="03-2999-123" oninput="this.value = this.value.replace
                                    ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-1">
                            <br>
                            <button class="btn btn-primary btn-circle" (click)="crear_telefono()">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-primary btn-circle">
                                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                            </button>
                        </div>
                        <div class="form-group col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Celular</mat-label>
                                <b matPrefix>+593 </b>
                                <input matInput type="tel" [(ngModel)]="celular.numero" class="form-control-sm"
                                    (change)="validar_celular()" placeholder="09-9999-1234" oninput="this.value = this.value.replace
                                    ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                            </mat-form-field>
                        </div>
                        <div class=" form-group col-1">
                            <br>
                            <button class="btn btn-primary btn-circle " (click)="crear_celular() ">
                                <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-primary btn-circle " (click)="open(modal_celular, null) ">
                                <fa-icon [icon]="[ 'fas', 'eye'] "></fa-icon>
                            </button>
                        </div>
                        <div class="form-group col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput type="text " [(ngModel)]="correo.email"
                                    oninput="this.value = this.value.toLowerCase()" class="form-control-sm "
                                    (change)="validar_correo_auxiliar()" [formControl]="emailFormControl"
                                    placeholder="ejemplo@siice.com">
                                <mat-error
                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Favor ingrese un correo válido
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Correo <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-1">
                            <br>
                            <button class="btn btn-primary btn-circle " (click)="crear_correo() ">
                                <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-primary btn-circle " (click)="open(modal_correo, null)">
                                <fa-icon [icon]="[ 'fas', 'eye'] "></fa-icon>
                            </button>
                        </div>
                        <div class="form-group col-2">
                            <br>&nbsp;&nbsp;
                            <button mat-raised-button color="primary" focusable="true" (click)="despachar()">
                                Despachar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="form-row">
            <div class="mat-elevation-z8 col-12">
                <table mat-table [dataSource]="dataSourceCheques" matSort>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()" color="primary">Entr.
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)" color="primary">
                            </mat-checkbox>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Posicion Columna -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.id}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
                    <!-- Fecha Columna -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.fecha | date: 'dd/MM/yyyy'}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Tipo Columna -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.tipo}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Numero Columna -->
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> P/U </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.numero}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Banco Columna -->
                    <ng-container matColumnDef="banco">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.banco}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Valor Columna -->
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.valor | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalCheques() | currency}} </td>
                    </ng-container>
                    <!-- Serie Columna 
                    <ng-container matColumnDef="serie">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serie </th>
                        <td mat-cell *matCellDef="let cheque"> {{cheque.banco}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="columnasCheques"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasCheques;"></tr>
                    <tr mat-footer-row *matFooterRowDef="columnasCheques"></tr>
                </table>
                <ng-container>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<ng-template #modal_telefono_auxiliar let-modal>
    <div class="modal-header ">
        <h5 class="modal-title ">Ver Telefonos</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="form-group form-row ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>NUMERO</th>
                        <th>OPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let auxiliar of cliente.auxiliares; let i= index">
                        <td>
                            {{auxiliar.razon_social}}
                        </td>
                        <td>
                            {{auxiliar.direccion.direccion}}
                        </td>
                        <td>
                            <table class="table table-bordered ">
                                <tbody>
                                    <tr *ngFor="let telefono of auxiliar.telefonos; let j= index">
                                        <td>{{telefono.email}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-circle "
                                                (click)="eliminar_telefono_auxiliar(i, j) ">
                                                <fa-icon [icon]="[ 'fas', 'trash'] "></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'close') ">Cerrar</button>
    </div>
</ng-template>
<ng-template #modal_celular let-modal>
    <div class="modal-header ">
        <h5 class="modal-title ">Ver Celulares</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="form-group form-row ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>NUMERO</th>
                        <th>OPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let celular of cliente.celulares; let i = index ">
                        <td>
                            {{celular.numero}}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-circle">
                                <fa-icon [icon]="[ 'fas', 'trash'] "></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'close') ">Cerrar</button>
    </div>
</ng-template>
<ng-template #modal_correo let-modal>
    <div class="modal-header ">
        <h5 class="modal-title ">Ver Correos</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="form-group form-row ">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>CORREO</th>
                        <th>OPCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let correo of cliente.correos; let i= index ">
                        <td>
                            {{correo.email}}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-circle ">
                                <fa-icon [icon]="[ 'fas', 'trash'] "></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close('close') ">Cerrar</button>
    </div>
</ng-template>