@import "../shared/colors";
@import "../shared/mixins";

h5 input{
  width: 45px;
  height: 33px;
}

.txt{
  text-align: center;
}

.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

.mat-card {
  margin: 6px!important;
  padding: 0px!important;
}

.mat-card-content{
  margin: 0px!important;
  padding: 0px!important;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.efecto{
  position: absolute;
  width: 100%;
  height: 100%;
  top:100%;
  background: rgba(143,212,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s;
  &.active{
    pointer-events: all;
    top: 0;
    transition: all .3s;
  }
  .cerrar{
    position: absolute;
    right: 10px;
    top:10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
}

.efecto h2, .efecto p{
  margin: 10px;
  padding: 10px;
  color: white;
  text-justify: auto;
}

.details{
  padding-bottom: 7px;
  hr{
    width: 90%;
    height: 0;
    border-top: 1px solid $primary-color;
  }
  button{
    background: none;
    border: none;
    cursor: pointer;
  }
  .not-available{
    hr{
      border-top: 1px solid #999999;
    }
    p{
      margin: 0;
      margin-top: -7px;
      position: relative;
      top: 2px;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 500;
      padding-top: 5px;
      padding-bottom: 3px;
    }
  }
}

.unavailable{
  opacity: 0.8;
}

.img{
  z-index: 5;
  height: auto;
  background-color: #eeeeee;
}

.title{
  font-size: 1em;
  margin-top: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.price{
  margin-bottom: 10px;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.bestseller-badge{
  position: absolute;
  top: -10px;
  border-radius: 15px;
  background-color: #EF364C;
  color: white;
  font-size: 0.7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  z-index: 40;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  overflow: hidden;
  height: 20px;
  @include transition-fade-circ(0.35s);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.48);
  .txt, .star{
      @include transition-fade(0.35s);
  }
  .txt{
    position: relative;
    top: 4px;
  }
  .star{
    position: absolute;
    top: 2px;
    &.left{
      left: 8px;
    }
    &.right{
      right: 14px;
    }
  }
  &.in-detailed{
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
    padding: 0;
    top: 9px;
    left: -80%;
    background-color: $primary-color;
    .right, .txt{
      opacity: 0;
    }
    .left{
      left: 7px;
      top: 1px;
    }
  }
}

.category-name{
  display: inline-block;
  margin-right: 10px;
}

.star{
  &:before{
    content: "\2605";
    position: absolute;
    color: white;
  }
}
