<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                <fa-icon [icon]="['fas', 'file']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <ng-container *ngIf="producto.id==0">
                <a class="nav-link" href="#" role="button" (click)="crear($event)">
                    <fa-icon [icon]="['fas', 'save']"></fa-icon>
                </a>
            </ng-container>
            <ng-container *ngIf="producto.id!=0">
                <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                    <fa-icon [icon]="['fas', 'save']"></fa-icon>
                </a>
            </ng-container>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i><u>CREAR PRODUCTO</u></i>
                </div>
                <div class="card-body">
                    <div class="form-row col-12">
                        <div class="col-8">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Grupo</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #grupo_producto="matAutocomplete"
                                            [displayWith]="ver_grupo_producto"
                                            (optionSelected)="seleccionar_grupo_producto()">
                                            <mat-option *ngFor="let grupo_producto of filtro_grupos_productos | async"
                                                [value]="grupo_producto">
                                                {{grupo_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input type="text" matInput aria-label="grupo_producto" class="form-control-sm"
                                            [formControl]="seleccion_grupo_producto" [matAutocomplete]="grupo_producto">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Sub Grupo</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #sub_grupo_producto="matAutocomplete"
                                            [displayWith]="ver_sub_grupo_producto"
                                            (optionSelected)="seleccionar_sub_grupo_producto()">
                                            <mat-option
                                                *ngFor="let sub_grupo_producto of filtro_sub_grupos_productos | async"
                                                [value]="sub_grupo_producto">
                                                {{sub_grupo_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input matInput type="text" class="form-control-sm"
                                            [formControl]="seleccion_sub_grupo_producto"
                                            [matAutocomplete]="sub_grupo_producto">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Categoria Producto</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #categoria_producto="matAutocomplete"
                                            [displayWith]="ver_categoria_producto"
                                            (optionSelected)="seleccionar_categoria_producto()">
                                            <mat-option
                                                *ngFor="let categoria_producto of filtro_categorias_productos | async"
                                                [value]="categoria_producto">
                                                {{categoria_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input matInput type="text" class="form-control-sm"
                                            [formControl]="seleccion_categoria_producto"
                                            [matAutocomplete]="categoria_producto">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Linea Producto</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #linea_producto="matAutocomplete"
                                            [displayWith]="ver_linea_producto"
                                            (optionSelected)="seleccionar_linea_producto()">
                                            <mat-option *ngFor="let linea_producto of filtro_lineas_productos | async"
                                                [value]="linea_producto">
                                                {{linea_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input matInput type="text" class="form-control-sm"
                                            [formControl]="seleccion_linea_producto" [matAutocomplete]="linea_producto">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Sub Linea Producto</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #sub_linea_producto="matAutocomplete"
                                            [displayWith]="ver_sub_linea_producto"
                                            (optionSelected)="seleccionar_sub_linea_producto()">
                                            <mat-option
                                                *ngFor="let sub_linea_producto of filtro_sub_lineas_productos | async"
                                                [value]="sub_linea_producto">
                                                {{sub_linea_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input matInput type="text" class="form-control-sm"
                                            [formControl]="seleccion_sub_linea_producto"
                                            [matAutocomplete]="sub_linea_producto">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Presentacion Producto</mat-label>
                                        <mat-autocomplete autoActiveFirstOption #presentacion_producto="matAutocomplete"
                                            [displayWith]="ver_presentacion_producto"
                                            (optionSelected)="seleccionar_presentacion_producto()">
                                            <mat-option
                                                *ngFor="let presentacion_producto of filtro_presentaciones_productos | async"
                                                [value]="presentacion_producto">
                                                {{presentacion_producto.nombre}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <input matInput type="text" class="form-control-sm"
                                            [formControl]="seleccion_presentacion_producto"
                                            [matAutocomplete]="presentacion_producto">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <mat-form-field appearance="standard" class="grande">
                                    <mat-label>Producto</mat-label>
                                    <input matInput type="text" oninput="this.value = this.value.toUpperCase()"
                                        [(ngModel)]="producto.nombre" class="form-control-sm">
                                    <button mat-button matSuffix mat-icon-button>
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="linea-vertical col-4">
                            <div class="form-row col-12">
                                <div class="form-group col-5">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Activo</mat-label>
                                        <mat-select [(ngModel)]="producto.estado" class="form-control-sm">
                                            <mat-option [value]="true">SI</mat-option>
                                            <mat-option [value]="false">NO</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-7">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Código</mat-label>
                                        <input matInput type="text" [(ngModel)]="producto.codigo" disabled
                                            class="form-control-sm">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-5">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Clasific.</mat-label>
                                        <mat-select [(ngModel)]="producto.tipo_producto.id" class="form-control-sm">
                                            <mat-option *ngFor="let tipo_producto of tipos_productos"
                                                [value]="tipo_producto.id">{{tipo_producto.abreviatura}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-7">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Tipo de Gasto</mat-label>
                                        <mat-select [(ngModel)]="producto.tipo_gasto.id" class="form-control-sm">
                                            <mat-option *ngFor="let tipo_gasto of tipos_gastos" [value]="tipo_gasto.id">
                                                {{tipo_gasto.nombre}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>IVA</mat-label>
                                        <mat-select [(ngModel)]="producto.impuesto.id" class="form-control-sm">
                                            <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto.id">
                                                {{impuesto.porcentaje}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Consig.</mat-label>
                                        <mat-select type="text" [(ngModel)]="producto.consignacion"
                                            class="form-control-sm">
                                            <mat-option [value]="true">SI</mat-option>
                                            <mat-option [value]="false">NO</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-1">
                                    <br>
                                    <button mat-button mat-raised-button color="primary" focusable="false"
                                        (click)="openDialog()" [(ngModel)]="producto.serie_autogenerado">
                                        Caracter.</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row col-12">
                        <div class="col-6">
                            <div class="centrar col-12">
                                <mat-label>KARDEX INICIAL</mat-label>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row">
                                    <div class="form-group col-5">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Medida</mat-label>
                                            <mat-select [(ngModel)]="medida" [disabled]="habilitar_saldo_inicial">
                                                <mat-option *ngFor="let medida of medidas" [value]="medida">
                                                    {{medida.descripcion}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-3">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Saldo Ini.</mat-label>
                                            <input matInput type="text" [(ngModel)]="kardex.cantidad"
                                                (change)="seleccionar_cantidad()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-3">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Costo Uni</mat-label>
                                            <input matInput type="text" [(ngModel)]="kardex.costo_unitario"
                                                (change)="seleccionar_costo_unitario()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-1">
                                        <br>
                                        <button class="btn btn-primary btn-circle" (click)="crear_precio()">
                                            <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-3">
                            <div class="centrar col-12">
                                <mat-label>AGREGAR PRECIO</mat-label>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row col-12">
                                    <div class="form-group col-10">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Medida</mat-label>
                                            <mat-select [(ngModel)]="medida" [disabled]="habilitar_otras_medidas">
                                                <mat-option *ngFor="let medida of medidas" [value]="medida">
                                                    {{medida.descripcion}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-2">
                                        <br>
                                        <button class="btn btn-primary btn-circle" (click)="crear_precio()">
                                            <fa-icon [icon]="[ 'fas', 'plus'] "></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-3">
                            <div class="centrar col-12">
                                <mat-label>INFO KARDEX</mat-label>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row col-12">
                                    <div class="form-group col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Saldo</mat-label>
                                            <input matInput type="text" [(ngModel)]="precio.costo"
                                                class="form-control-sm" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Costo Prom</mat-label>
                                            <input matInput type="text" [(ngModel)]="kardex.costo_total"
                                                class="form-control-sm" [disabled]=true>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>CONFIGURACIÓN DE PRECIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    Ingresar los precios por unidad de medida
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-row col-12">
                <div class="form-group col-8">
                    <br>
                    <mat-label class="centrar">PRECIO SUGERIDO</mat-label>
                    <table mat-table [dataSource]="datos" class="mat-elevation-z8">

                        <!--- Note que estas columnas pueden ser definidas en cualquier orden.
                                Las columnas reales representadas se establecen como una propiedad en la definición de fila" -->

                        <!-- Medida Column -->
                        <ng-container matColumnDef="medida">
                            <th mat-header-cell *matHeaderCellDef> Medida </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.medida.descripcion}} </td>
                        </ng-container>

                        <!-- Segmento Column -->
                        <ng-container matColumnDef="segmento">
                            <th mat-header-cell *matHeaderCellDef> Segmento </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.segmento.nombre}} </td>
                        </ng-container>

                        <!-- Costo Column -->
                        <ng-container matColumnDef="costo">
                            <th mat-header-cell *matHeaderCellDef> Costo </th>
                            <td mat-cell *matCellDef="let precio;let index = index">
                                <editable (update)="actualizar_calculos_precios(index, 'costo')">
                                    <ng-template viewMode>
                                        {{precio.costo}}
                                    </ng-template>
                                    <ng-template editMode>
                                        <input [formControl]="getControl(index, 'costo')" focusable editableOnEnter>
                                    </ng-template>
                                </editable>
                            </td>
                        </ng-container>

                        <!-- Ganancia Column -->
                        <ng-container matColumnDef="margen_ganancia">
                            <th mat-header-cell *matHeaderCellDef> MG% </th>
                            <td mat-cell *matCellDef="let precio;let index = index">
                                <editable (update)="actualizar_calculos_precios(index, 'margen_ganancia')">
                                    <ng-template viewMode>
                                        {{precio.margen_ganancia}}
                                    </ng-template>
                                    <ng-template editMode>
                                        <input [formControl]="getControl(index, 'margen_ganancia')" focusable
                                            editableOnEnter>
                                    </ng-template>
                                </editable>
                            </td>
                        </ng-container>
                        <!-- PVP Column -->
                        <ng-container matColumnDef="precio_venta_publico">
                            <th mat-header-cell *matHeaderCellDef> PVP </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.precio_venta_publico}} </td>
                        </ng-container>
                        <!-- PVP Column -->
                        <ng-container matColumnDef="precio_venta_publico_iva">
                            <th mat-header-cell *matHeaderCellDef> PVP IVA </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.precio_venta_publico_iva}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSugerido"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSugerido;"></tr>
                    </table>
                </div>
                <div class="form-group col-4">
                    <br>
                    <mat-label class="centrar">PRECIO DE VENTA</mat-label>
                    <table mat-table [dataSource]="datos" class="mat-elevation-z8">

                        <!--- Note que estas columnas pueden ser definidas en cualquier orden.
                                Las columnas reales representadas se establecen como una propiedad en la definición de fila" -->

                        <!-- PvpF Column -->
                        <ng-container matColumnDef="precio_venta_publico_manual">
                            <th mat-header-cell *matHeaderCellDef> PVP Man </th>
                            <td mat-cell *matCellDef="let precio;let index = index">
                                <editable (update)="actualizar_calculos_precios(index, 'precio_venta_publico_manual')">
                                    <ng-template viewMode>
                                        {{precio.precio_venta_publico_manual}}
                                    </ng-template>
                                    <ng-template editMode>
                                        <input [formControl]="getControl(index, 'precio_venta_publico_manual')"
                                            focusable editableOnEnter>
                                    </ng-template>
                                </editable>
                            </td>
                        </ng-container>
                        <!-- Segmento Column -->
                        <ng-container matColumnDef="utilidad">
                            <th mat-header-cell *matHeaderCellDef> Utilidad </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.utilidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="utilidad_porcentaje">
                            <th mat-header-cell *matHeaderCellDef> Utilidad% </th>
                            <td mat-cell *matCellDef="let precio"> {{precio.utilidad_porcentaje}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsVenta"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsVenta;"></tr>
                    </table>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>