 table {
    width: 100%;
    align-content: center;
}

.centrar{
    align-content: center!important;
    font-weight: bold;
    align-items: center!important;
    text-align: center!important;
}

.iconos > .mat-icon{
  margin: 0;
  color: rgb(6, 6, 90);
  cursor: pointer;
}

.iconos{
  margin: 0;
  color: rgb(6, 6, 90);
  cursor: pointer;
}

.mat-icon-button {
    width: 25px;
}

.derecha{
    justify-content: end;
}
