<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <ng-container *ngIf="abrirPanelNuevoGrupo">
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>note_add</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Borrar" role="button" (click)="borrar($event)">
                    <mat-icon>backspace</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="grupo_cliente.id==0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="grupo_cliente.id!=0">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="abrirPanelAdminGrupo">
            <li class="nav-item">
                <a class="nav-link" title="Buscar" role="button" (click)="buscar($event)">
                    <mat-icon>search</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Editar" role="button" (click)="actualizarLeer($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminar($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoGrupo = true" (closed)="abrirPanelNuevoGrupo = false"
            [expanded]="abrirPanelNuevoGrupo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>NUEVO GRUPO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoGrupo ? 'Ocultar crear grupo para clientes' : 'Crear un nuevo grupo para
                    clientes'}}
                    <mat-icon>group_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Codigo</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente.codigo" class="form-control-sm"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripcion</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente.descripcion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Abreviatura</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente.abreviatura"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Cuenta Contable</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente.abreviatura"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="abrirPanelAdminGrupo = true" (closed)="abrirPanelAdminGrupo = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>ADMINISTRAR GRUPOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminGrupo ? 'Ocultar administrador de grupos para clientes' : 'Gestionar grupos de
                    clientes existentes'}}
                    <mat-icon>group</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="col-3">
                    <mat-form-field appearance="standard" class="grande">
                        <mat-label>Codigo</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente_buscar.codigo"
                            (change)="cambiar_buscar_codigo()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="standard" class="grande">
                        <mat-label>Descripcion</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente_buscar.descripcion"
                            (change)="cambiar_buscar_descripcion()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard" class="grande">
                        <mat-label>Abreviatura</mat-label>
                        <input matInput type="text" [(ngModel)]="grupo_cliente_buscar.abreviatura"
                            (change)="cambiar_buscar_abreviatura()" oninput="this.value = this.value.toUpperCase()"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group form-row">
                <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                    <thead class="table-active text-center">
                        <tr>
                            <th>OPCION</th>
                            <th>CODIGO</th>
                            <th>DESCRIPCION</th>
                            <th>ABREVIATURA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grupo_cliente of grupos_clientes">
                            <td>
                                <input type="radio" name="seleccion" (click)="seleccion(grupo_cliente)">
                            </td>
                            <td>{{grupo_cliente.codigo}}</td>
                            <td>{{grupo_cliente.descripcion}}</td>
                            <td>{{grupo_cliente.abreviatura}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>