<div class="imagen-fondo-principal">
  <app-menu-principal [cantidadAgregados]="cantidadAgregados"></app-menu-principal>
  <!--app-appheader [cantidadAgregados]="cantidadAgregados"></app-appheader-->
  <div class="panel-detalle-producto">
    <div class="panel-heading">
      <span class="panel-title">{{producto.name}}</span>
    </div>
    <div class="panel-body">
      <div class="container-info">
        <div class="imagen-producto" fxFlex.gt-xs="57" fxFlex="100">
            <div class="miniaturas" fxFlex="20">
              <img *ngFor = "let imagen of imageObject; let i = index" title="{{imagen.title}}" src="{{imagen.thumbImage}}"
                (click)="agrandarImagen(imagen.image, i)" />
            </div> 
            <div class="visor" fxFlex="77">
              <app-image-zoom #preview [image]="image" [disabled]="!enabled" [zoom]="zoom" [ratio]="ratio" [cursor]="cursor"
              [cursorgap]="cursorgap" [type]="type" [shape]="shape" [mouseout]="mouseout" (load)="zoomLoaded($event)"
              (error)="zoomError($event)" (click)="imageOnClick(activeImageIndex)">
                <!--img #image  src="{{imageObject[0].image}}" /-->
                <img #image  src="{{selectedImage}}" />
              </app-image-zoom>
            </div>
            <div *ngIf="ligthboxShow">
              <slider-lightbox
                  [arrowKeyMove]="arrowKeyMove"
                  [images]="imageObject"
                  [infinite]="infinite"
                  [animationSpeed]="speed"
                  [imageIndex]="activeImageIndex"
                  [show]="ligthboxShow"
                  [direction]="textDirection"
                  (prevImage)="lightboxArrowClickHandler($event)"
                  (nextImage)="lightboxArrowClickHandler($event)"
                  (close)="lightboxClose()">
              </slider-lightbox>
            </div>
        </div>
        <div class="info-producto" fxFlex.gt-xs="40" fxFlex="100">
          <ul>
            <li><label>Nombre:&nbsp;</label>{{producto.name}}</li>
            <li><label>Precio:&nbsp;</label>${{producto.price}}</li>
            <li><label>Unidades Disponibles:&nbsp;</label>{{producto.unidadesDisponibles}}</li>
            <li><label>Cantidad agregadas:&nbsp;</label>{{cantidadAgregados}}</li>
          </ul>
        </div>

      </div>

      <a href="javascript:;" (click)="goBack()" class="boton-volver btn btn-default">Atras</a>
    </div>
  </div>
</div>
