<ngb-carousel>
    <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgnormalizada" src="{{pelicula.img}}" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{pelicula.name}}</h3>
        <p>{{pelicula.desc}}</p>
      </div>
    </ng-template>
</ngb-carousel>

