<div class="imagen-fondo-principal">
  <app-menu-principal [cantidadAgregados]="cantidadAgregados"></app-menu-principal>
  <div class="panel-detalle-producto panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">Carrito de Compras</span>
    </div>
    <div class="panel-body">
      <div class="container-info">
        <div class="imagen-producto" fxFlex.gt-xs="57" fxFlex="100">
          <div class="row col-12" *ngFor="let producto of productosEnCarrito">
            <div class="col-5 centrar">
                <img class="imagen-pedidos" src="{{producto.img}}" alt="{{producto.name}}">
            </div>
            <div class="col-6">
              <h4 class="media-heading">{{producto.name}}</h4>
              <label>Unidades: </label>{{producto.cantidadAComprar}}<br>
              <label>SUBTOTAL: </label>{{(producto.cantidadAComprar * producto.price) | currency: 'USD': 'symbol': '1.0-0'}}<br>
              <hr>
            </div>
            <div class="col-1">
              <button class="delete-btn">x</button>
            </div>
          </div>
          <!-- Para prueba con observer car 1 -->
          <div class="row col-12" *ngFor="let productos of products">
            <div class="col-5 centrar">
                <img class="imagen-pedidos" src="{{productos.img}}" alt="{{productos.name}}">
            </div>
            <div class="col-6">
              <h4 class="media-heading">{{productos.name}}</h4>
              <label>Unidades: </label>{{productos.cantidadAComprar}}<br>
              <label>SUBTOTAL: </label>{{(productos.cantidadAComprar * productos.price) | currency: 'USD': 'symbol': '1.0-0'}}<br>
              <hr>
            </div>
            <div class="col-1">
              <button class="delete-btn">x</button>
            </div>
          </div>
        </div>
        <div class="info-producto" fxFlex.gt-xs="40" fxFlex="100">
          <h2>Total: {{totalAPagar | currency:'USD':'symbol':'1.0-0'}}</h2>
          <a href="javascript:;" (click)="cancelarPedidos()" class="boton-volver btn btn-default">Cancelar</a>
          <a href="javascript:;" (click)="pagarPedidos()" class="boton-volver btn btn-default">Pagar</a>
        </div>
      </div>
      <a href="javascript:;" (click)="goBack()" class="boton-volver btn btn-default">Atras</a>
    </div>
  </div>
</div>