
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import '~bootstrap/scss/bootstrap';

// Para los iconos, fortawersome (fa) tiene mas de 400 iconos
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Para los iconos de angular material
@import '~material-design-icons/iconfont/material-icons.css';

// Sirve para enviar mensajes flotantes a la pantalla ej: https://ngx-toastr.vercel.app/
@import '~ngx-toastr/toastr-bs4-alert';

@import './assets/styles/style';

html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', 'Roboto', 'Helvetica Neue', sans-serif; 
}
