<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="buscar($event)">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="eliminar($event)">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
                <mat-label>Numero Factura</mat-label>
                <input matInput type="text" [(ngModel)]="factura_buscar.numero" (change)="cambiar_buscar_numero()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
                <mat-label>Razon Social Cliente</mat-label>
                <input matInput type="text" [(ngModel)]="factura_buscar.cliente.razon_social" (change)="cambiar_buscar_cliente_razon_social()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>FACTURAS</h2>
            <hr>
            <table class="table table-hover table-bordered table-responsive" style="font-size: 0.7rem">
                <thead class="table-active">
                    <tr>
                        <th rowspan="2" class="col-1">SEL</th>
                        <th rowspan="2" class="col-1">CODIGO</th>
                        <th rowspan="2" class="col-1">NUMERO</th>
                        <th rowspan="2" class="col-1">CLIENTE</th>
                        <th rowspan="2" class="col-1">FECHA</th>
                        <th rowspan="2" class="col-1">TOTAL</th>
                        <th rowspan="2" class="col-1">COMENTARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let factura of facturas">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(factura)">
                        </td>
                        <td>{{factura.codigo}}</td>
                        <td>{{factura.numero}}</td>
                        <td>{{factura.cliente.razon_social}}</td>
                        <td>{{factura.fecha}}</td>
                        <td>{{factura.total}}</td>
                        <td>{{factura.comentario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>