*{
	margin: 0px;
	padding: 1px 0px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.contenedor{
	width: 98%;
	max-width: 100%;
	margin: 75px 0px auto;
}

.nav-fijo {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 900;
    height: 120px!important;
    margin: 3px!important;
	padding: 2px!important;
    background-color: transparent;
}


.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 1px 0;
    font-size: 10px;
    line-height: 1.0;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

html {
    font-size: 12px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 0px;
  padding: 0px;
}

.mat-form-field {
    text-align: center;
    width: 90%;
}

.mat-select{
    padding: 7px 0px !important;
    width: 95%;
}

.grande.mat-form-field{
    width: 100% !important;
}

.mat-checkbox{
    padding-top: 10px;
}

.mat-card-title{
    text-align: center !important;
}

/*para el acodion*/
.mat-accordion{padding: 0px!important;}
.mat-expansion-panel-spacing{ margin: 5px 0;}
::ng-deep .mat-expansion-panel-body{padding: 5px!important;}
::ng-deep .mat-expansion-panel-header{ padding: 0px 15px!important; height: 35px!important;}

/*para los elementos standar*/
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0px 0px !important; }
::ng-deep .mat-form-field-label-wrapper { top: -0.8em; }
::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex { padding-top:1px !important; align-items: center !important;}
